<!DOCTYPE html>
<html>
  <head>
    <title>Roostats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <nav id="navbar-public" class="navbar navbar-default navbar-public">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to("roostats", root_path, :class => "navbar-brand") %>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1 ">
            <ul class="nav navbar-nav pull-right">
              <li><%= link_to("About", '/public/about') %></li>
              <li><%= link_to("Tips", '/public/tips') %></li>
              <li><%= link_to("Contact", '/public/contact') %></li>
              <li><%= link_to("Login", rider_session_path ) %></li>
              <li><%= link_to("Sign Up", new_rider_path) %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="public-index">
        <div class="container">
          <section class="landing-section">
            <h1>TRACK YOUR EARNINGS  <br/> IN REAL TIME</h1>
            <p>Unofficial desktop app meant to help deliveroo’s rider track their earnings, the easy way.</p>
            <%= link_to("Sign Up", new_rider_registration_path) %>
          </section>
        </div>
      </div>

      <section class="container">
        <div class="features-section">
          <center>
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag("dropOff.svg", :alt => "Roostats") %>
              <h3>Beautiful Title</h3>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag("hourly.svg", :alt => "Roostats") %>
              <h3>Beautiful Title</h3>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
            </div>
            <div class="col-sm-4">
              <%= image_tag("scooter.svg", :alt => "Roostats") %>
              <h3>Beautiful Title</h3>
              <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.  </p>
            </div>
          </div>
          </center>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="col-md-12 form-background">
            <div class="row demo-section">
              <div class="col-md-8">
                <h3>Learn to manage you earnings</h3>
                <p> Roostats it’s a free online tool to track your earnings, and it is not related with any company. The main motivation of this project was because I’m a rider too and developed this tool initially for myself and now I want to share it with other riders.  </p>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="tips-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <h3>Shout me a beer</h3>
              <p> Roostats it’s a free online tool to track your earnings, and it is not related with any company. The main motivation of this project was because I’m a rider too and developed this tool initially for myself and now I want to share it with other riders.</p>  </p>
            </div>
            <div class="col-md-4">
              <%= image_tag("coinTip.svg", :alt => "Shout me a beer") %>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="container">
          <ul>
            <li><%= link_to("About", '/public/about' ) %></li>
            <li><%= link_to("Tips", '/public/tips') %></li>
            <li><%= link_to("Contact", '/public/contact') %></li>
            <li><%= link_to("Private Policy", '#') %></li>
            <li><%= link_to("Login", rider_session_path ) %></li>
            <li><%= link_to("Sign Up", new_rider_path) %></li>
          </ul>
        </div>
      </footer>
  </body>
</html>
